@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    
    <div class="jumbotron transparentMuch">
        <div class="menu">
            <a data-bind="click: changePerspective.bind($data, 'Register')">Register</a> | 
            <a data-bind="click: changePerspective.bind($data, 'GetStatus')">Get Status</a> |
            <a data-bind="click: changePerspective.bind($data, 'UnRegister')">Un-Register</a> | 
            <a data-bind="click: changePerspective.bind($data, 'UnSubscribe')">Un-Subscribe</a>
        </div>

        <h1>'17 Color Fest</h1>
    </div>
    
    @Html.Partial("_Register");
    @Html.Partial("_GetStatus");
    @Html.Partial("_UnRegister");
    @Html.Partial("_UnSubscribe");

</div>






@section scripts
{
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script type="text/javascript">


        @{

            var links = new
            {
                registerLink = @Url.Action("Register", "Home"),
                unRegisterLink = @Url.Action("UnRegister", "Home"),
                unSubscribe = @Url.Action("UnSubscribe", "Home"),
                getRegisteredStatus = @Url.Action("GetRegisteredStatus", "Home")

            };


            var initialData = new
            {
                links = links
            };
    }



        $().ready(function() {
            site.page = site.pageFactory(@Html.Raw(Json.Encode(initialData)));

            ko.applyBindings(site.page.viewModel);
        });




    </script>
}