@model Registration.Web.Models.BaseModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">
    
    <div class="jumbotron transparentMuch">
        <div class="menu">
            <a data-bind="click: changePerspective.bind($data, 'Register')">Register</a> | 
            <a data-bind="click: changePerspective.bind($data, 'GetStatus')">Get Status</a> |
            <a data-bind="click: changePerspective.bind($data, 'UnRegister')">Un-Register</a> | 
            <a data-bind="click: changePerspective.bind($data, 'UnSubscribe')">Un-Subscribe</a>
        </div>

        <h1><span style="color: #f58621; font-size: 1.3em">Col</span><span style="color: #36980c; font-size: 1.3em"s>or</span> Fest <span style="font-style: italic; font-size: 0.8em">'17</span> </h1>
    </div>
    
    @Html.Partial("_Register");
    @Html.Partial("_GetStatus");
    @Html.Partial("_UnRegister");
    @Html.Partial("_UnSubscribe");

</div>

@section scripts
{
    <script type="text/javascript">
        
        @{
         
            var links = new
            {
                registerLink = $"{Model.BaseApiUrl}/api/v1/register/addnew",
                unRegisterLink = $"{Model.BaseApiUrl}/api/v1/register/unregister/",
                unSubscribe = $"{Model.BaseApiUrl}/api/v1/register/unsubscribe/",
                getRegisteredStatus = $"{Model.BaseApiUrl}/api/v1/register/status/"
            };

            var initialData = new
            {
                links = links
            };
        }



        $().ready(function() {
            site.page = site.pageFactory(@Html.Raw(Json.Encode(initialData)));

            ko.applyBindings(site.page.viewModel);
        });

    </script>
}